@import "../vars.scss";

.sound-picker-container {
  height: $soundPickerContainerHeight;
  padding: 15px 30px 5px 30px;
  display: flex;
  justify-content: space-between;

  .sound-picker-select-container {
    display: inline-block;
    width: 80%; // leave some whitespace between this and the icons

    .sound-picker {
      font-size: $selectFontSize;
      width: 100%;
      color: $controls;
      border-color: $darkBorderColor;
      background-color: $controlsBackgroundSolid;
      }
  }

  .mic-label-icons-container {
    width: 32px;
    height: 32px;
    margin-top: -4px;
    }
}
