@import "../vars.scss";

.sound-picker-container {
  height: $soundPickerContainerHeight;
  padding: $margin 10px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sound-picker-mid-label {
    padding: 2px 5px 0 2px;
    font-size: 90%;
  }

  .sound-picker-select-container {
    width: 100%;

    .sound-picker {
      min-width: 140px;
      width: 100%;
      height: 28px;
      background-color: $controlsBackgroundColor;
      color: $graphBackgroundColor;
      }
  }

  .icons-container {
    button {
      width: 95px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      border-radius: 10px;
      line-height: 1;
      background-color: $controlsBackgroundColor;
      color: $graphBackgroundColor;

      &[disabled] {
        color: $disabledButtonColor;
      }

      div {
        font-size: 110%;
      }
    }

    .icon {
      height: 24px;
      width: 24px;
      margin-top: 4px;
      cursor: pointer;
      fill: red;

      &.recording {
        animation-name: pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }

      &.labelling {
        fill: blueviolet;
      }

      &.disabled {
        fill: $disabledButtonColor;
        cursor: default;
      }
    }
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
