@import "../vars.scss";

.carrier-wave-container {
  margin: 10px 8px 0 8px;
  padding: 5px 0px 5px 0px;
  font-size: 80%; // 85%;
  color: $controlsColor;
  border: 2px solid $darkBorderColor;
  border-radius: $borderRadius;
  background-color: $controlsBackgroundColor;

  .carrier-picker-container {
    display: flex;
    padding: 0 15px;

    .carrier-picker-caption {
      margin-top: 3px;
      font-size: $selectFontSize;
    }
  }

  .carrier-wave-graph-container {
    margin: 5px 0 5px -2px;
  }

  DIV {
    select {
      width: 100%;
      font-size: $selectFontSize;
      color: $controlsColor;
      border-color: $darkBorderColor;
      background-color: $controlsBackgroundSemiTransparentColor;
    }

    span.value {
      color: $controlsColor;
    }
  }

  DIV.freq-mod-container {
    margin-top: 1px;
  }

  .wavelength-mod-container {
    margin-top: 5px;
    margin-left: 8px;
    display: flex;

    DIV {
      width: 50%;
    }
  }

  .times-higher-than-container {
    margin-top: 6px;
    margin-left: 8px;
  }
}

