@import "../vars.scss";

.carrier-wave-container {
  margin: 10px 8px 0 8px;
  padding: 5px 0px 0px 0px;
  font-size: 80%;
  color: $controlsColor;
  border: 2px solid $darkBorderColor;
  border-radius: $borderRadius;
  background-color: $controlsBackgroundColor;

  .carrier-picker-container {
    display: flex;
    justify-content: space-around;

    .modulation-container, .frequency-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .carrier-picker-caption {
        padding-bottom: 2px;
        font-size: 14px;
      }
    }

  }

  .carrier-wave-graph-container {
    margin: 5px 0 0 -2px;
  }
}

