@import "./vars.scss";

#app {
  font-size: 16px;
  overflow: hidden;

  .header {
    color: #fff;
    background-color: #024059;
    padding: 10px;
    font-size: 24px;
    line-height: 26px;

    display: flex;
    align-items: center;

    svg {
      width: 120px;
      padding: 3px;
      margin-right: 10px;

      path, circle {
        fill: #fff;
      }
    }
  }

  .sound-picker-container {
    margin: $margin/2 $margin;
    padding: 10px  5px 15px 10px;
    background-color: #3377BD20;

    .sound-picker-select-container {
      display: inline-block;
      width: calc(100% - 48px); // minus ~width of .mic-icon

      .sound-picker {
        font-size: 24px;
        width: 100%;
        color: $controls;
        border-color: $darkBorderColor;
        background-color: #3377BD20;
      }
    }
  }

  .mic-icon {
    position: relative;
    margin-bottom: -18px;
  }

  .main-controls {
    display: flex;
    align-items: center;
    margin: 0 $margin -2px $margin;

    * {
      // If changing this color, may need to change the <Slider> colors, for consistency
      fill: $controls;
    }

    .button {
      width: 48px;
      height: 48px;
      cursor: pointer;

      &.disabled {
        fill: $disabledButton;
        cursor: default;
      }
    }

    .playback {
      display: flex;
      align-items: center;
      width: 100%;
      border: $borderWidth solid $borderColor;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      padding: 10px;

      & > * {
        margin: 0;
      }

      .play-pause {
        margin-right: 2px;
      }

      .volume-slider {
        margin-left: -3px;
        margin-right: 20px;
      }

      .speed-controls {
        text-align: center;
        margin-top: -20px;

        .speed-label {
          font-size: 70%;
          padding-bottom: 6px;
        }
      }

      .speed-slider {
        width: 140px;

        .rc-slider-track {
          background-color: $controls;
          height: 6px;
        }

        .rc-slider-rail {
          background-color: $controls;
          height: 6px;
        }

        .rc-slider-handle {
          fill: $controls;
          height: 20px;
          width: 20px;
          margin-top: -7px;
          background-color: $controls;
          &:active, &:hover {
            box-shadow: none;
          }
        }
      }

      .speed-slider.disabled {
        .rc-slider-rail, .rc-slider-handle {
          background-color: silver;
          border-color: silver;
        }
      }
    }
  }

  .volume-slider {
    width: 50px;

    .rc-slider-track {
      background-color: $controls;
      height: 6px;
    }

    .rc-slider-rail {
      background-color: $controls;
      height: 6px;
    }

    .rc-slider-handle {
      border-color: $controls;
      height: 20px;
      width: 20px;
      margin-top: -7px;
      background-color: $controls;
      &:active, &:hover {
        box-shadow: none;
      }
    }
  }

  .sound-wave-container {
    margin: 0 $margin 0 $margin;
  }

  .zoomed-out-graph {
    display: flex;
    align-items: center;

    .zoom-buttons-container {
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .zoom-button {
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-color: $controls;
        border-radius: 15px;
        svg {
          fill: white
        }
      }
    }
  }

  .carrier-wave-container {
    margin: 15px 20px 0 20px;
    padding: 10px 15px;
    font-size: 80%;
    background-color: #3377BD20;
    color: $controls;

    div {
      margin: 6px 0px 0px 0px;

      select {
        width: 100%;
        margin-bottom: 5px;
        font-size: 24px;
        color: $controls;
        border-color: $darkBorderColor;
        background-color: #3377BD20;
      }

      span.value {
        color: #03478D;
      }
    }
    div.freq-mod-container {
      margin-top: 1px;
    }
  }
}

