@import "./vars.scss";

#app {
  font-size: 16px;
  overflow: hidden;

  .header {
    color: #fff;
    background-color: #103360;
    padding: 10px;
    font-size: 26px;
    line-height: 26px;

    display: flex;
    align-items: center;

    svg {
      width: 120px;
      padding: 3px;
      margin-right: 10px;

      path, circle {
        fill: #fff;
      }
    }
  }

  .sound-picker-container {
    padding: 20px $margin;
    display: inline-block;
    width: calc(100% - 96px); // 96px ~= width of .mic-icon

    .sound-picker {
      font-size: 24px;
      width: 100%;
    }
  }

  .mic-icon {
    position: relative;
    margin-bottom: -15px;
  }

  .main-controls {
    display: flex;
    align-items: center;
    margin: 0 $margin -2px $margin;

    .button {
      width: 48px;
      height: 48px;
      cursor: pointer;

      &.disabled {
        fill: #aaa;
        cursor: default;
      }
    }

    .playback {
      display: flex;
      align-items: center;
      margin-right: 20px;
      border: $borderWidth solid $darkGray;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      padding: 10px;

      & > * {
        margin: 0 4px;
      }
      .volume-slider {
        margin-left: -1px;
      }
    }
  }

  .volume-slider {
    width: 90px;

    .rc-slider-track {
      background-color: #000;
      height: 6px;
    }

    .rc-slider-rail {
      background-color: #000;
      height: 6px;
    }

    .rc-slider-handle {
      border-color: #000;
      height: 20px;
      width: 20px;
      margin-top: -7px;
      background-color: #000;
      &:active, &:hover {
        box-shadow: none;
      }
    }
  }

  .sound-wave-container {
    margin: 0 $margin $margin $margin;
  }

  .zoomed-out-graph {
    display: flex;
    align-items: center;

    .zoom-buttons-container {
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .zoom-button {
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-color: #000;
        border-radius: 15px;
        svg {
          fill: white
        }
      }
    }
  }

  .speed-controls, .current-speed {
    margin: 2px $margin;

    button {
      margin: 0 1px;
    }
  }

  .speed-control-text-disabled {
    color: $darkGray;
  }
}

