@import "./vars.scss";

HTML {
  height: 100%;
}

BODY {
  background-color: $controlsBackground;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;

  & > DIV {
    flex: 0 1 auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

#app {
  overflow: hidden;

  .header {
    color: #fff;
    background-color: #024059;
    padding: 10px;
    font-size: 24px;
    line-height: 26px;

    display: flex;
    align-items: center;

    svg {
      width: 120px;
      padding: 3px;
      margin-right: 10px;

      path, circle {
        fill: #fff;
      }
    }
  }

  .sound-picker-container {
    margin: 0 $margin;
    margin: 0;
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;

    .mic-label-icons-container {
      width: 32px;
      height: 32px;
    }

    .sound-picker-select-container {
      display: inline-block;
      width: calc(87%); // leave some whitespace between this and the icons

      .sound-picker {
        font-size: $selectFontSize;
        width: 100%;
        color: $controls;
        border-color: $darkBorderColor;
        background-color: $controlsBackgroundSolid;
      }
    }
  }

  .main-controls-and-waves-container {
    flex: 1 1 auto;
    height: calc(100vh - 245px); // fit to container, minus height of sibling elemnts
    margin: 0;
    padding: $margin $margin;
    border-top: 5px solid $controls;
    border-bottom: 5px solid $controls;
  }

  .mic-icon {
    position: relative;
    margin-bottom: -24px;
  }

  .main-controls {
    margin: 0 0 -2px 0;
    display: flex;
    align-items: center;

    * {
      // If changing this color, may need to change the <Slider> colors, for consistency
      fill: $controls;
    }

    .button {
      width: 48px;
      height: 48px;
      cursor: pointer;

      &.disabled {
        fill: $disabledButton;
        cursor: default;
      }
    }

    .playback {
      display: flex;
      align-items: center;
      border: $borderWidth solid $darkBorderColor;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      padding: 10px 20px 10px 10px;

      & > * {
        margin: 0;
      }

      .play-pause {
        margin-right: 2px;
      }

      .volume-slider {
        margin-left: -3px;
        margin-right: 20px;
      }

      .speed-controls {
        text-align: center;
        margin-top: -20px;

        .speed-label {
          font-size: 70%;
          padding-bottom: 6px;
        }
      }

      .speed-slider {
        width: 140px;

        .rc-slider-track {
          background-color: $controls;
          height: 6px;
        }

        .rc-slider-rail {
          background-color: $controls;
          height: 6px;
        }

        .rc-slider-handle {
          fill: $controls;
          height: 20px;
          width: 20px;
          margin-top: -7px;
          background-color: $controls;
          &:active, &:hover {
            box-shadow: none;
          }
        }
      }

      .speed-slider.disabled {
        .rc-slider-rail, .rc-slider-handle {
          background-color: silver;
          border-color: silver;
        }
      }
    }
  }

  .volume-slider {
    width: 50px;

    .rc-slider-track {
      background-color: $controls;
      height: 6px;
    }

    .rc-slider-rail {
      background-color: $controls;
      height: 6px;
    }

    .rc-slider-handle {
      border-color: $controls;
      height: 20px;
      width: 20px;
      margin-top: -7px;
      background-color: $controls;
      &:active, &:hover {
        box-shadow: none;
      }
    }
  }

  .sound-wave-container {
    margin: 0;
  }

  .zoomed-out-graph {
    display: flex;
    align-items: center;

    .zoom-buttons-container {
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .zoom-button {
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-color: $controls;
        border-radius: 15px;
        svg {
          fill: white
        }
      }
    }
  }

  .carrier-wave-container {
    margin: 0;
    padding: 5px 10px 10px 10px;
    font-size: 85%;
    color: $controls;

    .carrier-picker-container {
      display: flex;

      .carrier-picker-caption {
        margin-top: 3px;
        font-size: $selectFontSize;
      }
    }

    DIV {
      select {
        width: 100%;
        font-size: $selectFontSize;
        color: $controls;
        border-color: $darkBorderColor;
        background-color: $controlsBackgroundSolid;
      }

      span.value {
        color: #03478D;
      }
    }

    DIV.freq-mod-container {
      margin-top: 1px;
    }

    .wavelength-mod-container {
      margin-top: 6px;
      display: flex;

      DIV {
        width: 50%;
      }
    }
    .times-higher-than-container {
      margin-top: 6px;
    }
  }
}

