@import "./vars.scss";

.sound-wave {
  position: relative;

  canvas {
    border: $borderWidth solid $darkBorderColor;
    background-color: $zoomedOutGraphBackgroundColor;
  }

  &.interactive canvas {
    touch-action: none; // Important! Otherwise, zoom area dragging would cause page scrolling.
  }

  &.zoomed-in-view canvas {
    background-color: $graphBackgroundColor;
    border-color: $waveGraphMarker;
  }

  .frequency {
    font: 14px Comfortaa, cursive;
    color: #892be2;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ffffffb0;
  }
}

