$applicationHeaderContainerHeight: 50px;
$soundPickerContainerHeight: 30px;
$soundWaveContainerHeight: 270px;

$margin: 8px; // 16px;
$borderWidth: 2px;
$borderRadius: 10px;
$selectFontSize: 18px;

$darkGray: #494949;
$borderColor: #e0e0e0;
$darkBorderColor: #d0d0ff;
$controls: #3377BD;
$controlsBackground: #3377BD20;
$controlsBackgroundSolid: #ffffff20;
$disabledButton: #aaa;
