$applicationBackground: white;
$applicationHeaderContainerHeight: 50px;
$soundPickerContainerHeight: 30px;
$soundWaveContainerHeight: 270px;

$margin: 8px; // If this is changed; also change SIDE_MARGIN
$borderWidth: 2px; // If this is changed; also change BORDER_WIDTH
$borderRadius: 10px;
$selectFontSize: 18px;
$smallLabelFontSize: 70%;

$darkGray: #494949;
$borderColor: #e0e0e0;
$darkBorderColor: #d0d0ff;
$controls: white;
$controlsBackground: #024059;
$controlsAlternateBackground: #3377BD;
$controlsBackgroundSemiTransparent: #ffffff20;
$zoomControlsContainerBackground: #ffffffb0;
$zoomControlsContainerBorder: #3377BDe0;
$disabledButton: #aaa;
$waveGraphMarker: #ea6d2f;

$graphBackgroundColor: white;
$zoomedOutGraphBackgroundColor: #F0F0F0;
