@import "../vars.scss";

.zoom-buttons-container {
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $zoomControlsContainerBackground;
  border: 1px solid $zoomControlsContainerBorder;
}

.zoom-button-container {
  padding: 3px;
}

.zoom-button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: $controlsAlternateBackground;
  border-radius: 12px;
  svg {
    fill: $controls;
  }
}
