@import "../vars.scss";

.zoom-buttons-container {
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2px 0px;
  background-color: $zoomControlsContainerBackgroundColor;
  border: 1px solid $zoomControlsContainerBorderColor;
}

.zoom-button {
  height: 24px;
  width: 24px;
  cursor: pointer;
  background-color: $controlsAlternateBackgroundColor;
  border-radius: 6px;
  svg {
    fill: $controlsColor;
    height: 24px;
    width: 24px;
  }
}
