@import "../vars.scss";

.buttonGroupButton {
  margin-left: -1px;
  padding-top: 2px;
  height: 24px;
  min-width: 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: $controlsAlternateBackgroundColor;
  color: white;
  border: 1.5px solid $darkBorderColor;
  cursor: pointer;

  &.disabled {
    color: $disabledButtonColor;
  }
}

.active {
  background-color: white;
  color: $controlsAlternateBackgroundColor;
  }

button:first-of-type {
  margin-left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
