@import "../vars.scss";

.application-header-container {
    height: $applicationHeaderContainerHeight;
    color: $controlsColor;
    background-color: $controlsBackgroundColor;
    font-size: 20px;

    display: flex;
    align-items: center;
}
